{% extends 'commen.html' %} {% block title %} Home {% endblock title %} {% block body %}
<!-- Page Content -->
<div class="page-content">
    <div class="content-inner pt-0">
        <div class="container bottom-content">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-text"> 
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z" fill="var(--primary)"/>
							</svg>
						</span>
                </div>
            </form>
            <div class="author-notification mb-4">
                <div class="swiper-btn-center-lr my-0">
                    <div class="swiper-container categorie-swiper">
                        <div class="swiper-wrapper">
                            {%for user in friendslist:%}
                            <div class="swiper-slide">
                                <a href="/chat/{{user.id}}" class="categore-box style-1">
                                    <div class="story-bx">
                                        {%if user.image:%}
                                        <img alt="Avatar" src="static/uploads/profile/{{user.image}}" alt="/"> {% else: %}
                                        <img alt="Avatar" src="/static/assets/images/noimage.jpg" alt="/"> {% endif %}
                                        <div class="add-box bg-green" style="background-color: lightgreen !important;">
                                        </div>
                                    </div>
                                    <span class="detail">{{ user.name }}</span>
                                </a>
                            </div>
                            {%endfor%}

                        </div>
                    </div>
                </div>
            </div>
            <ul class="dz-list message-list">
                <li>
                    <a href="messages-detail.html">
                        <div class="media media-50">
                            <img class="rounded" src="assets/images/message/pic1.jpg" alt="image">
                        </div>
                        <div class="media-content">
                            <div>
                                <h6 class="name">Lucas Mokmana</h6>
                                <p class="my-1">
                                    Hey bro, let’s meetup at centre point corner
                                </p>
                            </div>
                            <div class="left-content">
                                <span class="time">2m ago</span>
                                <div class="seen-btn active mt-2">
                                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.73609 8.82324L0.161085 4.90081C-0.0536949 4.66516 -0.0536949 4.28308 0.161085 4.0474L0.938884 3.19399C1.15366 2.95832 1.50193 2.95832 1.71671 3.19399L4.125 5.8363L9.28329 0.176739C9.49807 -0.058913 9.84634 -0.058913 10.0611 0.176739L10.8389 1.03015C11.0537 1.2658 11.0537 1.64789 10.8389 1.88356L4.51391 8.82326C4.29911 9.05892 3.95087 9.05892 3.73609 8.82324Z" fill="#BBB6D0"/>
										</svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="messages-detail.html">
                        <div class="media media-50">
                            <img class="rounded" src="assets/images/message/pic2.jpg" alt="image">
                        </div>
                        <div class="media-content">
                            <div>
                                <h6 class="name">Emilia Green</h6>
                                <p class="my-1">
                                    Can you share your current location now sis
                                </p>
                            </div>
                            <div class="left-content">
                                <span class="time">2m ago</span>
                                <div class="seen-btn mt-2">
                                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.73609 8.82324L0.161085 4.90081C-0.0536949 4.66516 -0.0536949 4.28308 0.161085 4.0474L0.938884 3.19399C1.15366 2.95832 1.50193 2.95832 1.71671 3.19399L4.125 5.8363L9.28329 0.176739C9.49807 -0.058913 9.84634 -0.058913 10.0611 0.176739L10.8389 1.03015C11.0537 1.2658 11.0537 1.64789 10.8389 1.88356L4.51391 8.82326C4.29911 9.05892 3.95087 9.05892 3.73609 8.82324Z" fill="#BBB6D0"/>
										</svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="messages-detail.html">
                        <div class="media media-50">
                            <img class="rounded" src="assets/images/message/pic3.jpg" alt="image">
                        </div>
                        <div class="media-content">
                            <div>
                                <h6 class="name">Richard lee</h6>
                                <p class="my-1">
                                    Cmon dude! make it fast, let’s go
                                </p>
                            </div>
                            <div class="left-content">
                                <span class="time">2m ago</span>
                                <div class="seen-btn mt-2">
                                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.73609 8.82324L0.161085 4.90081C-0.0536949 4.66516 -0.0536949 4.28308 0.161085 4.0474L0.938884 3.19399C1.15366 2.95832 1.50193 2.95832 1.71671 3.19399L4.125 5.8363L9.28329 0.176739C9.49807 -0.058913 9.84634 -0.058913 10.0611 0.176739L10.8389 1.03015C11.0537 1.2658 11.0537 1.64789 10.8389 1.88356L4.51391 8.82326C4.29911 9.05892 3.95087 9.05892 3.73609 8.82324Z" fill="#BBB6D0"/>
										</svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="messages-detail.html">
                        <div class="media media-50">
                            <img class="rounded" src="assets/images/message/pic4.jpg" alt="image">
                        </div>
                        <div class="media-content">
                            <div>
                                <h6 class="name">Hendri Lee</h6>
                                <p class="my-1">
                                    Did you tell him about your new car?
                                </p>
                            </div>
                            <div class="left-content">
                                <span class="time">2m ago</span>
                                <div class="seen-btn active mt-2">
                                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.73609 8.82324L0.161085 4.90081C-0.0536949 4.66516 -0.0536949 4.28308 0.161085 4.0474L0.938884 3.19399C1.15366 2.95832 1.50193 2.95832 1.71671 3.19399L4.125 5.8363L9.28329 0.176739C9.49807 -0.058913 9.84634 -0.058913 10.0611 0.176739L10.8389 1.03015C11.0537 1.2658 11.0537 1.64789 10.8389 1.88356L4.51391 8.82326C4.29911 9.05892 3.95087 9.05892 3.73609 8.82324Z" fill="#BBB6D0"/>
										</svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="messages-detail.html">
                        <div class="media media-50">
                            <img class="rounded" src="assets/images/message/pic5.jpg" alt="image">
                        </div>
                        <div class="media-content">
                            <div>
                                <h6 class="name">Mogan Fox</h6>
                                <p class="my-1">
                                    Let's go!
                                </p>
                            </div>
                            <div class="left-content">
                                <span class="time">2m ago</span>
                                <div class="seen-btn mt-2">
                                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.73609 8.82324L0.161085 4.90081C-0.0536949 4.66516 -0.0536949 4.28308 0.161085 4.0474L0.938884 3.19399C1.15366 2.95832 1.50193 2.95832 1.71671 3.19399L4.125 5.8363L9.28329 0.176739C9.49807 -0.058913 9.84634 -0.058913 10.0611 0.176739L10.8389 1.03015C11.0537 1.2658 11.0537 1.64789 10.8389 1.88356L4.51391 8.82326C4.29911 9.05892 3.95087 9.05892 3.73609 8.82324Z" fill="#BBB6D0"/>
										</svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- PWA Offcanvas End -->

{% endblock body %}