{% extends 'commen.html' %} {% block body %}


<div class="page-wraper header-fixed">
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }
    </style>
    <!-- Preloader -->
    <div id="preloader" style="display: none;">
        <div class="spinner"></div>
    </div>
    <!-- Preloader end-->

    <!-- Header -->
    <header class="header bg-white">
        <div class="container">
            <div class="main-bar">
                <div class="left-content">
                    <a href="/profile" class="back-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </a>
                    <h4 class="title mb-0">Edit profile</h4>
                </div>
                <div class="mid-content">
                </div>
                <!-- <div class="right-content">
                    <a href="javascript:void(0);" class="text-dark font-20">
                        <i class="fa-solid fa-check"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Page Content -->
    <div class="page-content">
        <div class="container">
            <div class="edit-profile">
                <form action="/updataUser" method="POST" enctype="multipart/form-data">

                    <div class="profile-image">
                        <div class="media media-100 rounded-circle">
                            {%if userdata.image:%}
                            <img id="profilepic" src="static/uploads/profile/{{userdata.image}}" alt="/"> {% else: %}
                            <img id="profilepic" src="/static/assets/images/noimage.jpg" alt="/"> {% endif %}
                        </div>
                        <!-- <a href="javascript:void(0);">Change profile photo</a> -->
                        <span class="btn btn-primary btn-file">Change
                    <input type="file"  name="image" value="Change" id="postimage" accept="image/*" onchange="showPreview(event);">
                    </span> {%if userdata.image:%}
                        <span class="btn btn-danger btn-file">Delete
                    <!-- <input type="file"  name="image" value="Change" id="postimage" accept="image/*" onchange="showPreview(event);"> -->
                    </span> {% endif %}
                    </div>
                    <div class="mb-3 input-group input-mini">
                        <input type="text" class="form-control" name="name" id="full_name" placeholder="Name" {%if userdata.name:%} value=" {{userdata.name}}" {% endif %}>
                    </div>
                    <span class="msg-error error text-danger" id="er1"></span>

                    <div class="mb-3 input-group input-mini">
                        <input type="text" class="form-control" name="nickName" placeholder="Nick Name" {%if userdata.nickName:%} value=" {{userdata.nickName}}" {% endif %}>
                    </div>

                    <div class="mb-3 input-group input-mini">
                        <input type="text" class="form-control" disabled name="email" placeholder="Email" {%if userdata.email:%} value=" {{userdata.email}}" {% endif %}>
                    </div>
                    <div class="mb-3 input-group input-mini">
                        <input type="text" class="form-control" disabled name="phone" placeholder="Phone" {%if userdata.phone:%} value=" {{userdata.phone}}" {% endif %}>
                    </div>
                    <div class="mb-3 input-group input-mini">
                        <input type="date" class="form-control" name="dateOfBirth" placeholder="Date Of Birth" {%if userdata.dateOfBirth:%} value=" {{userdata.dateOfBirth}}" {% endif %}>
                    </div>
                    <span class="msg-error error text-danger" id="er5"></span>

                    <div class="mb-3 input-group input-mini">
                        <select class="form-control" aria-label="" id="gender" name="gender" placeholder="Gender">
                            <option selected value="N">Gender</option>
                            <option {%if userdata.gender == "M":%}selected {% endif %} value="M">Male</option>
                            <option {%if userdata.gender == "F":%} selected {% endif %} value="F">Female</option>
                            <option {%if userdata.gender == "C":%} selected {% endif %} value="C">Custome</option>
                          </select>
                    </div>
                    <span class="msg-error error text-danger" id="er4"></span>

                    <div class="mb-3 input-group input-mini">
                        <textarea type="" class="form-control" name="bio" placeholder="Bio">{%if userdata.bio:%} {{userdata.bio}}{% endif %}</textarea>
                    </div>
                    <div class="mb-3 input-group input-mini">
                        <input type="submit" value="Update" onclick="return formval();" class="btn btn-primary btn-file w-100">
                    </div>

                </form>
            </div>
            <!-- <ul class="link-list">
                <li>
                    <a href="javascript:void(0);">Add Link</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Switch to professional account</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Create avatar</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Personal information settings</a>
                </li>
            </ul> -->
        </div>
    </div>
    <!-- Page Content End-->
</div>
<script>
    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("profilepic");
            preview.src = src;
            // preview.style.display = "block";
            // $(".preview").show();
        }
    }
</script>

<script>
    function formval() {
        var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
        var formemail = $("#mail").val();
        $("#er1").html("");
        $("#er2").html("");
        $("#er3").html("");
        $("#er4").html("");
        $("#er5").html("");
        $("#er6").html("");
        $("#er7").html("");

        if ($("#full_name").val() == "") {
            $("#full_name").focus();
            $("#full_name").css({
                'border-color': '#F00'
            });
            $("#er1").html("Please Enter your Full Name (*)");
            return false;
        } else {
            $("#er1").html("");
        }

        if ($("#gender").val() == "N") {
            $("#gender").focus();
            $("#gender").css({
                'border-color': '#F00'
            });
            $("#er4").html("Please Select Your Gender (*)");
            return false;
        }
        if ($("#dob").val() == "") {
            $("#dob").focus();
            $("#dob").css({
                'border-color': '#F00'
            });
            $("#er5").html("Please Enter Your DOB (*)");
            return false;
        }



    }
</script>
{% endblock body %}