{% extends 'usercommen.html' %} {% block body %}


<div class="page-wraper">

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader end-->

    <!-- Welcome Start -->
    <div class="content-body">
        <div class="container vh-100">
            <div class="welcome-area">
                <div class="bg-image bg-image-overlay" style="background-image: url(/static/assets/images/login/pic3.jpg);"></div>
                <div class="join-area">
                    <div class="started">
                        <h1 class="title">Create an Account</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    </div>
                    <form method="post" action="/userRegister">
                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg width="19" height="19" viewBox="0 0 19 19" fill="none">
										<path d="M15.587 16.3479V14.8261C15.587 14.019 15.2663 13.2448 14.6956 12.6741C14.1248 12.1033 13.3507 11.7827 12.5435 11.7827H6.45655C5.64937 11.7827 4.87525 12.1033 4.30448 12.6741C3.73372 13.2448 3.41307 14.019 3.41307 14.8261V16.3479" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M9.50002 8.73918C11.1809 8.73918 12.5435 7.37657 12.5435 5.6957C12.5435 4.01483 11.1809 2.65222 9.50002 2.65222C7.81915 2.65222 6.45654 4.01483 6.45654 5.6957C6.45654 7.37657 7.81915 8.73918 9.50002 8.73918Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</div>
							</span>
                            <input type="text" class="form-control" id="full_name" placeholder="Name" name="name">
                        </div>
                        <span class="msg-error error text-danger" id="er1"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M22 6L12 13L2 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>		
							</span>
                            <input type="email" class="form-control" id="mail" placeholder="Email" name="email">
                        </div>
                        <span class="msg-error error text-danger" id="er2"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
								</div>		
							</span>
                            <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
                        </div>
                        <span class="msg-error error text-danger" id="er3"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-trans" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1.707L3.5 2.793l.646-.647a.5.5 0 1 1 .708.708l-.647.646.822.822A3.99 3.99 0 0 1 8 3c1.18 0 2.239.51 2.971 1.322L14.293 1H11.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 0 1-3.05-5.814l-.95-.949-.646.647a.5.5 0 1 1-.708-.708l.647-.646L1 1.707V3.5a.5.5 0 0 1-1 0v-3zm5.49 4.856a3 3 0 1 0 5.02 3.288 3 3 0 0 0-5.02-3.288z"/>
                                      </svg>
								</div>		
							</span>
                            <select class="form-select" aria-label="" id="gender" name="gender" placeholder="Gender">
                                <option selected value="N">Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="C">Custome</option>
                              </select>
                        </div>
                        <span class="msg-error error text-danger" id="er4"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                      </svg>
								</div>		
							</span>
                            <input type="date" class="form-control" id="dob" placeholder="Date Of Birth" name="dob">
                        </div>
                        <span class="msg-error error text-danger" id="er5"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5 12C4.44772 12 4 12.4477 4 13V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V13C20 12.4477 19.5523 12 19 12H5ZM2 13C2 11.3431 3.34315 10 5 10H19C20.6569 10 22 11.3431 22 13V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V13Z" fill="white"></path>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7V11C8 11.5523 7.55228 12 7 12C6.44772 12 6 11.5523 6 11V7C6 5.4087 6.63214 3.88258 7.75736 2.75736C8.88258 1.63214 10.4087 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7V11C18 11.5523 17.5523 12 17 12C16.4477 12 16 11.5523 16 11V7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3Z" fill="white"></path>
									</svg>
								</div>
							</span>
                            <input type="password" class="form-control dz-password" id="password" placeholder="Password" name="password">
                            <span class="input-group-text show-pass"> 
								<i class="fa fa-eye-slash text-primary"></i>
								<i class="fa fa-eye text-primary"></i>
							</span>

                        </div>
                        <span class="msg-error error text-danger" id="er6"></span>

                        <div class="mb-3 input-group input-group-icon">
                            <span class="input-group-text">
								<div class="input-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5 12C4.44772 12 4 12.4477 4 13V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V13C20 12.4477 19.5523 12 19 12H5ZM2 13C2 11.3431 3.34315 10 5 10H19C20.6569 10 22 11.3431 22 13V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V13Z" fill="white"></path>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7V11C8 11.5523 7.55228 12 7 12C6.44772 12 6 11.5523 6 11V7C6 5.4087 6.63214 3.88258 7.75736 2.75736C8.88258 1.63214 10.4087 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7V11C18 11.5523 17.5523 12 17 12C16.4477 12 16 11.5523 16 11V7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3Z" fill="white"></path>
									</svg>
								</div>
							</span>
                            <input type="password" class="form-control dz-password" id="confromPassword" placeholder="Confrom Password" name="">
                            <span class="input-group-text show-pass"> 
								<i class="fa fa-eye-slash text-primary"></i>
								<i class="fa fa-eye text-primary"></i>
							</span>

                        </div>
                        <span class="msg-error error text-danger" id="er7"></span>

                        <button type="submit" onclick="return formval();" class="btn btn-primary btn-block mb-3">REGISTER</button>
                    </form>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="text-light text-center d-block">Don’t have an account?</a>
                        <a href="/login" class="btn-link d-block ms-3 text-underline">Signin here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome End -->


</div>
<script>
    function formval() {
        var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
        var formemail = $("#mail").val();
        $("#er1").html("");
        $("#er2").html("");
        $("#er3").html("");
        $("#er4").html("");
        $("#er5").html("");
        $("#er6").html("");
        $("#er7").html("");

        if ($("#full_name").val() == "") {
            $("#full_name").focus();
            $("#full_name").css({
                'border-color': '#F00'
            });
            $("#er1").html("Please Enter your Full Name (*)");
            return false;
        } else {
            $("#er1").html("");
        }


        if ($("#mail").val() == "") {
            $("#mail").focus();
            $("#mail").css({
                'border-color': '#F00'
            });
            $("#er2").html("Please Enter Your Email (*)");
            return false;
        }
        if (!emailRegex.test(formemail)) {
            $("#mail").focus();
            $("#mail").css({
                'border-color': '#F00'
            });
            $("#er2").html("Please Enter The Valid Email (*)");
            return false;
        } else {
            $("#er2").html("");
        }
        if ($("#phone").val() == "") {
            $("#phone").focus();
            $("#phone").css({
                'border-color': '#F00'
            });
            $("#er3").html("Please Enter Your Phone Number (*)");
            return false;
        }
        if ($("#gender").val() == "N") {
            $("#gender").focus();
            $("#gender").css({
                'border-color': '#F00'
            });
            $("#er4").html("Please Select Your Gender (*)");
            return false;
        }
        if ($("#dob").val() == "") {
            $("#dob").focus();
            $("#dob").css({
                'border-color': '#F00'
            });
            $("#er5").html("Please Enter Your DOB (*)");
            return false;
        }



        if ($("#password").val() == "") {
            $("#password").focus();
            $("#password").css({
                'border-color': '#F00'
            });
            $("#er6").html("Please Enter Password (*)");
            return false;
        }
        if ($("#confromPassword").val() == "") {
            $("#confromPassword").focus();
            $("#confromPassword").css({
                'border-color': '#F00'
            });
            $("#er7").html("Please Enter Confrom Password (*)");
            return false;
        } else {
            $("#er3").html("");
        }
        if ($("#confromPassword").val() != $("#password").val()) {
            $("#password").focus();
            $("#confromPassword").focus();
            $("#password").css({
                'border-color': '#F00'
            });
            $("#confromPassword").css({
                'border-color': '#F00'
            });
            $("#er6").html("Please Enter Password (*)");
            $("#er7").html("Please Enter Password (*)");
            return false;
        }

    }
</script>

{% endblock body %}